fastapi
mysql-connector-python
fastapi 
uvicorn 
jinja2 
python-multipart
python-dotenv
turfpy
geojson
scikit-learn
seaborn
matplotlib
pandas
gmplot
requests
ipykernel
bs4
tqdm
beautifulsoup4
plotly
nbformat
scikit-learn